@import url("https://fonts.googleapis.com/css2?family=Milonga");
@import url("https://fonts.googleapis.com/css2?family=Kleymisska");

.allSongsDiv {
  margin: 80px 100px;
  padding: 30px;
  display: grid;
  width: max-width;
  min-width: max-content;
  grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
  align-items: center;
  /* background-color: #023f2b; */
  background: linear-gradient(
    270deg,
    #1976ac,
    #049162 60%,
    #007535 90%
  ) !important;
  align-items: flex-start;
  justify-content: center;
  color: rgb(200, 255, 255);
  box-shadow: 1px 10px 24px 4px rgb(179, 123, 206);
  /* font-family: "Milonga"; */
  /* font-family: "Kleymisska"; */
  font-size: large;
  border-radius: 30px;

  /* background-color: rgba(86, 55, 107, 0.938); */
  /* rgba(0, 100, 80, 0.2); */
  /* background: linear-gradient(
    270deg,
    rgba(0, 70, 70, 0.9) 0%,
    rgb(30, 63, 63) 60%
  ); */
}

.buttonSong {
  align-self: baseline;
  padding: auto;
  padding-top: 2px;
  padding-left: 4px;
  margin-left: 5px;
  margin-top: 1%;
  color: rgb(17, 0, 255);
  font-size: large;
  font-style: italic;
  min-width: max-content;
  max-width: 145px;
  border-radius: 7%;
  border: 10px rgb(0, 0, 0);
}

.buttonSong:hover {
  background-color: rgb(0, 30, 255);
  cursor: pointer;
  box-shadow: 1px 10px 24px 4px rgba(0, 0, 0, 0.842);
  color: rgb(255, 255, 255);
}

.listen {
  margin-left: -40%;
  margin-top: 1%;
  position: absolute;
  flex-direction: row;
  align-self: baseline;
  color: black;
  font-size: large;
  font-family: cursive;
  font-style: italic;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.543);
  min-width: max-content;
  border-radius: 5%;
}

.listen:hover {
  cursor: pointer;
  background-color: rgba(255, 221, 0, 0.7);
}

@media screen and (max-width: 500px) {
  .allSongsDiv {
    grid-template-columns: 0.7fr 0.7fr 0.7fr;
    align-items: center;
    margin: 40px 30px;
    padding: 15px;
    background: linear-gradient(
      270deg,
      rgba(30, 80, 60, 1) 20%,
      rgb(10, 90, 50, 1) 40%,
      rgb(50, 80, 20, 1) 80%
    );

    /* linear-gradient(
      270deg,
      rgba(50, 80, 90, 1) 10%,
      rgb(0, 100, 90, 1) 60%,
      rgb(90, 100, 40, 1) 90%
    ); */

    border-radius: 35px;
    /* background: linear-gradient(
      270deg,
      rgba(68, 93, 100, 0.8) 10%,
      rgb(30, 97, 75, 0.8) 60%,
      rgb(0, 117, 53, 0.8) 90%
    ); */
  }
}
