@import url("https://fonts.googleapis.com/css2?family=Milonga");
@import url("https://fonts.googleapis.com/css2?family=Kleymisska");

.oneSongIcon {
  width: 40px;
  height: 40px;
  /* margin-left: 10px; */
  margin-right: 10px;
}

.AfreFont {
  font-family: "Aref Ruqaa", Arial;
  /* font-style: italic; */
  font-variant: normal;
  font-weight: 400;
  vertical-align: baseline;
  text-align: center;
  font-size: large;
}

.oneSong {
  align-self: flex-start;
  align-self: flex-start;
  margin: 7px;
  text-shadow: 2px 2px 4px black, 1px 4px 4px black, 1px 1px 4px black;
  padding: 3px;
}

.oneSong:hover {
  cursor: pointer;
  background-color: rgba(40, 100, 60, 0.5);
  transform: scale(1.1);
  border-radius: 10px;
}

.oneSongIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 1px 1px 14px 9px rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
  .oneSong {
    font-weight: 400;
    margin: 20px 4px;
    max-width: 100px;
    min-width: 80px;
    max-height: 190px;
    padding: 1px;
    background-color: transparent;
  }

  .oneSong:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: transparent;
  }

  .oneSongIcon {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    transform: scale(1.2);
  }

  .oneSongIcon:hover {
    transform: scale(1.5);
  }
}
