@import url("https://fonts.googleapis.com/css2?family=Milonga");
@import url("https://fonts.googleapis.com/css2?family=Kleymisska");

.oneSongIcon {
  width: 40px;
  height: 40px;
  /* margin-left: 10px; */
  margin-right: 10px;
}

.oneSong {
  align-self: flex-start;
  align-self: flex-start;
  /* align-content: space-around; */
  margin: 7px;
  /* background-color: rgb(68, 150, 68); */
  font-size: large;
  /* font-family: "Milonga"; */
  text-shadow: 1px 1px 1px black, 0 0 0.9em black, 0 0 0.9em black;
  /* font-weight: 500; */
  padding: 3px;
}

.oneSong:hover {
  cursor: pointer;
  background-color: rgba(40, 100, 60, 0.5);
  transform: scale(1.1);
  border-radius: 10px;
}

.oneSongIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 1px 1px 14px 9px rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
  .oneSong {
    font-weight: 400;
    margin: 20px 4px;
    max-width: 100px;
    min-width: 80px;
    max-height: 190px;
    padding: 1px;
    background-color: transparent;
  }

  .oneSong:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: transparent;
  }

  .oneSongIcon {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    transform: scale(1.2);
  }

  .oneSongIcon:hover {
    transform: scale(1.5);
  }
}
