.Head {
  flex-direction: row;
}

.SwiperCarousel {
  height: 300px;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .Head {
    margin: 7px;
    padding: 7px;
    min-width: 340px !important;
    width: 350px !important;
  }
}
