@import url("https://fonts.googleapis.com/css2?family=Milonga");
@import url("https://fonts.googleapis.com/css2?family=Kleymisska");
@import url("https://fonts.googleapis.com/css2?family=Aref Ruqaa");

.span1 {
  color: #0a501c;
  font-family: "Aref Ruqaa", Arial;
  font-style: italic;
  font-variant: normal;
  font-weight: 400;
  vertical-align: baseline;
  text-align: center;
  font-size: large;
}

/* ===================================================================================== */
marquee {
  display: block !important;
  justify-content: center !important;
  align-items: center;
  justify-items: center;
  align-self: center !important;
  white-space: wrap !important;
  text-align: center !important;
}

.headerMarq {
  text-align: center !important;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 3px;
  display: block !important;
  justify-content: center !important;
  align-items: center;
  justify-items: center;
  align-self: center !important;
  white-space: wrap !important;
  background: #60be77 !important;
}
@media screen and (max-width: 500px) {
  .headerMarq {
    float: none;
  }
}
