.Slider {
  text-align: center !important;
  /* background-color: rgba(197, 255, 61, 0.315) !important; */
  margin: 20px 20px !important;
  max-height: 200px !important;
}
img {
  border-radius: 10%;
  max-width: auto;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}
